
body {
    text-align: center;
    font-family: Athelas;
    text-transform: uppercase;
    color: green;
}
h1 {
    font-size: 24px;
    color: #11693d;
    margin-bottom: 45px;
}
#logo {
    margin-top: 50px;
    margin-bottom: 25px;
    width: 90px;
}
/* Navigation Bar */
.navigation {
    margin-top: 45px;
    padding-top: 30px;
}
.navigation ul {
    width: 100%;
}
.navigation ul li {
    float: left;
    width: 16%;
}
.navigation ul li a {
    text-decoration: none;
    color: white;
}
.navigation ul li a:hover {
    text-decoration: underline;
}
.cart {
    border: 1px white solid;
    color: white;
    background-color: rgb(0,0,0,0);
}
.cart:hover {
    text-decoration: underline;
    background-color: rgba(17, 105, 61, 0.5);
}
/* Background images */
.our-story {
    background-image: url(../images/ourstory.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 720px;
    position: relative;
}
.original {
    background-image: url(../images/originalmead.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 720px;
}
.lime {
    background-image: url(../images/limemead.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 760px;
}
.ginger {
    background-image: url(../images/gingermead.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 720px;
}
/* Texts in green boxes */
.text-right {
    background-color: rgba(17, 105, 61, 0.5);
    color: white;
    width: 403px;
    height: 265px;
    position: absolute;
    top: 30%;
    right: 10%;
}
.text-left{
    background-color: rgba(17, 105, 61, 0.5);
    color: white;
    width: 403px;
    height: 265px;
    position: absolute;
    top: 15%;
    left: 10%;
}
.text-right p {
    padding: 50px 20px 0 20px;
}
.text-left p {
    padding: 50px 20px 0 20px;
}
/* Linking buttons */
.our-story h3 {
    position: absolute;
    text-decoration: none;
    bottom: 25%;
    right: 19%; 
    border: 1px solid white;
    padding: 10px; 
}
.our-story h3 a {
    text-decoration: none;
    color: white;
}
.our-story h3 a:hover {
    text-decoration: underline;
}
.original h3 {
    position: absolute;
    text-decoration: none;
    bottom: 35%;
    left: 19%; 
    border: 1px solid white;
    padding: 10px; 
}
.original h3 a {
    text-decoration: none;
    color: white;
}
.original h3 a:hover {
    text-decoration: underline;
}

.lime h3 {
    position: absolute;
    text-decoration: none;
    bottom: 25%;
    right: 19%; 
    border: 1px solid white;
    padding: 10px; 
}
.lime h3 a {
    text-decoration: none;
    color: white;
}
.lime h3 a:hover {
    text-decoration: underline;
}
.ginger h3 {
    position: absolute;
    text-decoration: none;
    bottom: 35%;
    left: 19%; 
    border: 1px solid white;
    padding: 10px; 
}
.ginger h3 a {
    text-decoration: none;
    color: white;
}
.ginger h3 a:hover {
    text-decoration: underline;
}
/* footer */
footer {
    display: flex;
    justify-content: space-around;
    line-height: 30px;
    text-align: center;
    padding-bottom: 100px;
}
footer div{
    flex-basis: 33%;
    align-items: center;
}
#touch p {
    text-align: left;
    margin-left: 80px;
}

footer h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 30px auto 20px;
}
footer a {
    text-decoration: none;
    color: #11693d;
}
footer a:hover {
    text-decoration: underline;
}
iframe {
    width: 300px;
    height: 200px;
}
#facebook {
    margin-right: 10px;
}
/* Our Story Page */
.text-our-story {
    color: white;
    background-color: rgba(62,54,66,0.5);
    margin: 100px 200px 200px 200px;
    text-align: justify;
    padding: 40px;
    border: 1px white solid;
}
.text-our-story p{
    margin-bottom: 20px;

}
.text-our-story img {
   float: left;
   margin: 20px 20px;
}

#merry {
    border: 2px solid white;
}
/* Gallery - The Tavern */

.gallery img {
    border-radius: 100px;
    border: 1px white solid;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 200px 10px 0;
}

